@font-face {
    font-family: "DM Sans";
    src: url("../fonts/Dm/DmSansMedium-Ea9KW.woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "DM Sans";
    src: url("../fonts/Dm/DmSansRegular-ZVWM3.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "DM Sans";
    src: url("../fonts/Dm/DmSansMediumItalic-OVw36.woff");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Playfair Display";
    src: url("../fonts/Playfair/PlayfairDisplayBoldItalic-rgx7y.ttf");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Playfair Display";
    src: url("../fonts/Playfair/PlayfairDisplay-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "DM Sans";
    src: url("../fonts/Dm/DmSansBold-eZ5xm.woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Playfair Display";
    src: url("../fonts/Playfair/PlayfairDisplayItalic-BW0Rd.ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Playfair Display";
    src: url("../fonts/Playfair/PlayfairDisplayBoldItalic-rgx7y.ttf");
    font-weight: 700;
    font-style: italic;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
.wrapper{
    max-width: 1600px;
    margin: 0 auto;
}
.card1{
    position: relative;   
}
.card2{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.card3{
    position: absolute;
    width: 25%;
    top: 0px;
    left: 0px;
}
.card4{
    position: absolute;
    width: 1%;
    padding-top: 15%;
    left: 5%;
}
.card5{
    position: absolute;
    top: 0vw;
    left: 0vw;
    width: 15%;
}
.card6{
    position: absolute;
    top: 0vw;
    left: 0vw;  
}
.layer2{
    position: absolute;
    width: 100%;
   top: 0;
   left: 0;
}
.layer22{
    position: relative;
}
.card7{
    position: absolute;
    width: 20%;
    padding-top: 8%;
    left: 15%;
}
.layer2__2{
    position: absolute;
    padding-top: 24%;
    left: 16%;
}
.font__12-500__black{
    color: #333;
    font-family: DM Sans;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
    line-height: 14px;
}
.layer2__3{
    position: absolute;
    padding-top: 17%;
    left: 16%;
}
.buket__3{
    width: 10%;
    position: absolute;
    padding-top: 19.5%;
    left: 25%; 
}
.women__3{
    width: 11%;
    position: absolute;
    padding-top: 16%;
    left: 23%;  
}
.celebration__3{
    position: absolute;
    width: 17%;
    padding-top: 12%;
    left: 17%;    
}
.coming__3{
    position: absolute;
    padding-top: 9%;
    left: 16%;   
}
.layer3{
    position: absolute;
    width: 100%;
   top: 0;
   left: 0;
}
.layer33{
    position: relative;
}
.layer__3{
    position: absolute;
    width: 30%;
    padding-top: 30.5%;
    left: 5%;
}
.lay-3-2{
    position: absolute;
    width: 100%;
    padding-top: 30.5%;
    left: 5%;
}




